section.feature
  .feature__main.feature__container 
    .feature__image 
      img.feature__img(src="../img/phones.png", alt="")
    .feature__content 
      h2.feature__title App Core 
        span.feature__title-2 Features
      p.feature__sub-info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt error odit delectus illum itaque temporibus neque voluptatem consectetur commodi rem.
      ul.feature__list 
        li.feature__item 
          img.item__logo(src="", alt="")
          h5.item__title Premium Quality
          p.item__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, minus.
        li.feature__item 
          img.item__logo(src="", alt="")
          h5.item__title Premium Quality
          p.item__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, minus.
        li.feature__item 
          img.item__logo(src="", alt="")
          h5.item__title Premium Quality
          p.item__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, minus.
        li.feature__item 
          img.item__logo(src="", alt="")
          h5.item__title Premium Quality
          p.item__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, minus.
