header.header
    .container 
        .header__nav
            img(src="../../img/logo.svg", alt="")
            .nav 
                a(href="#") Home 
                a(href="#") feature 
                a(href="#") pricing 
                a(href="#") team 
                a(href="#") blog 
                a(href="#") contact
            button Get the app 
        .header__info 
            .left__info 
                h2 Appnest Best Mobile App Landing Page 
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .button__block-header 
                    .header__button-left 
                        button.btn
                            img(src="../../img/apple.png", alt="")
                            span.button-info Apple Store 
                    .header__button-right 
                        button.btn 
                            img(src="../../img/Play store.svg", alt="")
                            span.button-info Apple Store 
            .right__info 
                img(src="../../img/iPhone X Mockup.png", alt="")


            

