section.news
    .recent
        h2.recent__titel Recent 
            samp.recent--titel News
        p.recent__tex 
        | It is a long established fact that a  will be   distracted its by the 
        | readable content of a page when at its layout
    .news__post  
        .post1  
            .post__img img(src="../../img/news/news1.jpg", alt="")
            h3.post__titel.post--titel Exclusive Post For You
            b.post__subtitel Posted By
                samp.post--subtitel : Admin   |   07 Sep, 2018
            p.post__tex Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill
            a.red__more.red--more Read More
        .post2  
            .post__img img(src="../../img/news/news2.jpg", alt="")
            h3.post__titel Exclusive Post For You
            b.post__subtitel Posted By
                samp.post--subtitel : Admin   |   07 Sep, 2018
            p.post__tex Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill
            a.red__more Read More
        .post3   
            .post__img img(src="../../img/news/news3.jpg", alt="")
            h3.post__titel Exclusive Post For You
            b.post__subtitel Posted By
                samp.post--subtitel : Admin   |   07 Sep, 2018
            p.post__tex Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill
            a.red__more Read More

