.container{
    text-align: center;
}
.block{
    margin-left: 450px;
    display: flex;
}
.block2{
    justify-content: center;
}
.title{
color: black;
}
.title2{
    color: #00cff1;
}
.img1{
    margin-left: 370px;
}
.tit{
    width: 350px;
    margin-left: 400px;
}
.img5{
    margin-left: 850px;
}