doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title App landing
    link(rel='stylesheet' href='../css/main.css')
  body
    .wrapper
      //--Tashybekob-Syrgak
      include includes/header
      //-ernis
      include includes/overview
      //-Esentur
      include includes/feature
      //-Syrgak05
      include includes/video
      //-satykeev
      include includes/screenshot
      //-niki
      include includes/achieve
      include includes/feedback
      include includes/pricing
      include includes/download
      //-asmannn33
      include includes/news
      include includes/footer
